<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>

<body>
<form th:action="@{/campaign/update(id=${campaignWrapper.campaign.campaignId})}" th:object="${campaignWrapper}" method="post">
    <div style="margin-top: 9px;">
        <span>Campaign name</span>
        <input th:field="*{campaign.campaignName}" class="form-control" type="text" style="width: 25%;">
    </div>
    <div style="margin-top: 9px;"><span>Keywords (divided with space)</span>
        <input th:field="*{keywords}" class="form-control" type="text" style="width: 25%;">
    </div>
    <div style="margin-top: 9px;"><span>Bid amount</span>
        <input th:field="*{campaign.bidAmount}" class="form-control" type="text" style="width: 25%;">
    </div>
    <div style="margin-top: 9px;"><span>Campaign fund</span>
        <input th:field="*{campaign.campaignFund}" class="form-control" type="text" style="width: 25%;">
    </div>
    <div style="margin-top: 9px;"><span>Status</span>
        <br>
        <input th:field="*{campaign.status}" type="checkbox">
    </div>
    <div style="margin-top: 9px;">
        <select th:field="*{townName}">
            <option th:each="listedTown : ${towns}" th:value="${listedTown.townName}" th:text="${listedTown.townName}">
        </select>
    </div>
    <div style="margin-top: 9px;">
        <span>Radius</span>
        <input th:field="*{campaign.radius}" class="form-control" type="text" style="width: 25%;">
    </div>
    <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Submit</button>
</form>
    <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
</body>

</html>